# Assignment - Statistical Measures
### o------- ------------     ----------------------------------o

### Q1. Perform basic EDA (Exploratory Data Analysis) (Score:1) -:
### ------------------------------------------------------------

In [9]:
# Install gdown if not already installed
!pip install gdown

# Import required libraries
import gdown
import pandas as pd

# Define file ID and URL
file_id = '1UlWRYU0UglE2ex3iFse0J6eCLEU8g98P'
url = f'https://drive.google.com/uc?id={file_id}'
output = 'house_price.csv'

# Download the file
gdown.download(url, output, quiet=False)

# Read the CSV file
df = pd.read_csv('house_price.csv')

# Display the first few rows of the dataframe
df.head()

Collecting gdown
  Downloading gdown-5.2.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\pc\anaconda3\lib\site-packages (from gdown) (4.12.3)
Requirement already satisfied: filelock in c:\users\pc\anaconda3\lib\site-packages (from gdown) (3.13.1)
Requirement already satisfied: requests[socks] in c:\users\pc\anaconda3\lib\site-packages (from gdown) (2.32.3)
Requirement already satisfied: tqdm in c:\users\pc\anaconda3\lib\site-packages (from gdown) (4.66.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\pc\anaconda3\lib\site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests[socks]->gdown) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc\anaconda3\lib\site-packages (from requests[socks]->gdown) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\lib\site-packages (from requests[socks]->gdown) (2024.12.14)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\pc\anaconda3\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from tqdm->gdown) (0.4.6)
Downloading gdown-5.2.0-py3-none-any.whl (18 kB)
Installing collected packages: gdown
Successfully installed gdown-5.2.0

Downloading...
From: https://drive.google.com/uc?id=1UlWRYU0UglE2ex3iFse0J6eCLEU8g98P
To: C:\Users\pc\house_price.csv
100%|██████████| 553k/553k [00:01<00:00, 478kB/s]

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,3699
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,4615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,4305
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,6245
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,4250

In [13]:
df.describe()  #(summary of the numerical columns.)

         total_sqft          bath         price           bhk  price_per_sqft
count  13200.000000  13200.000000  13200.000000  13200.000000    1.320000e+04
mean    1555.302783      2.691136    112.276178      2.800833    7.920337e+03
std     1237.323445      1.338915    149.175995      1.292843    1.067272e+05
min        1.000000      1.000000      8.000000      1.000000    2.670000e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.267000e+03
50%     1275.000000      2.000000     71.850000      3.000000    5.438000e+03
75%     1672.000000      3.000000    120.000000      3.000000    7.317000e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [15]:
df.isnull().sum() #(Check for any missing values using)

location          0
size              0
total_sqft        0
bath              0
price             0
bhk               0
price_per_sqft    0
dtype: int64

In [21]:
df.dtypes #(Data Types)

location           object
size               object
total_sqft        float64
bath              float64
price             float64
bhk                 int64
price_per_sqft      int64
dtype: object

In [23]:
df.nunique()

location           241
size                31
total_sqft        1972
bath                19
price             1952
bhk                 19
price_per_sqft    4951
dtype: int64

# ----------------------------------------------------------------------------------

### Q2. Detect and Remove Outliers
### -------------------------------------

### Mean and Standard Deviation
#--------------------------------------------------------

In [35]:
import pandas as pd

# Load the dataset
df = pd.read_csv('house_price.csv')

# Identify numerical columns
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns

# Calculate mean and standard deviation for each numerical column
for column in numerical_columns:
    mean = df[column].mean()
    std = df[column].std()
    print(f'Mean of {column}: {mean}')
    print(f'Standard Deviation of {column}: {std}\n')

Mean of total_sqft: 1555.3027829545454
Standard Deviation of total_sqft: 1237.3234454015123

Mean of bath: 2.6911363636363634
Standard Deviation of bath: 1.3389150868179767

Mean of price: 112.27617765151514
Standard Deviation of price: 149.17599517809657

Mean of bhk: 2.8008333333333333
Standard Deviation of bhk: 1.2928434212725608

Mean of price_per_sqft: 7920.336742424242
Standard Deviation of price_per_sqft: 106727.16032810845

In [37]:
df_original=df.copy()

In [45]:
# Mean and Standard Deviation
mean_price_per_sqft = df['price_per_sqft'].mean()
std_price_per_sqft = df['price_per_sqft'].std()

# Define thresholds
lower_bound = mean_price_per_sqft - 3 * std_price_per_sqft
upper_bound = mean_price_per_sqft + 3 * std_price_per_sqft

# Filter out outliers
df_filtered = df[(df['price_per_sqft'] >= lower_bound) & (df['price_per_sqft'] <= upper_bound)]